body{
    background-color: blueviolet;
    
}
.view{
    max-width: 500px;
    max-height: 700px;
    width: 80dvw;
    height: 80dvh;
    background-color:chartreuse;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:space-around;
    border: solid;
    height: auto;
    padding: 20px 60px;
    gap: 10px;
    border-radius: 10px;
    background-color: white;
}
.login .title{
    font-weight: 600;
    font-size: 14px;
}
.login form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.login form input{
    border: none;
    border-bottom: 1px solid;
    height: 30px;
}
.login form input::placeholder{
    color: rgb(175, 175, 175);
}